huggingface_hub==0.24.6
torch==2.4.1
langchain_huggingface
langchain_community
langchain_google_genai
langchain_mongodb
python-dotenv==1.0.1
transformers==4.44.2
langchain
pymongo==4.8.0
sentence-transformers==3.0.1
flask==3.0.3
flask_cors
langchain_groq

